
  <!-- This section should be hidden by default and shown when there are todos -->

  <section class="main">
    <ul class="todo-list">
      <li class="completed">
        <div class="view" *ngFor="let todo of listTodos; index as i" >
          <input class="toggle" type="checkbox" (change)="completedTodo($event,i)"/>
          <label  (dblclick)="editTodo()" [ngClass]="completed">{{todo.title}}</label>
          <button class="destroy" (click)="destroy(i)"></button>
        </div>
        <input class="edit" value="Learn JavaScript" />
      </li>
      <li *ngIf="edit" class="editing">
        <app-todoedit></app-todoedit>
      </li>
    </ul>
  </section>

  <!-- This footer should be hidden by default and shown when there are todos -->

