
  <!-- This section should be hidden by default and shown when there are todos -->

  <section class="main">
    <ul class="todo-list">
      <li class="completed" *ngFor="let todo of listTodos; index as i">
        <div class="view">
          <input class="toggle" type="checkbox" (change)="completedTodo($event, i)" />
          <label (dblclick)="editTodo(todo?.id)"[ngClass]="completed">{{ todo.title }}</label>
          <button class="destroy" (click)="destroy(todo?.id)"></button>
        </div>
        <app-todoedit *ngIf="edit" (listUpdate)="listEdit($event)"></app-todoedit>
      </li>
    </ul>
  </section>

  <!-- This footer should be hidden by default and shown when there are todos -->

