<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input class="new-todo" placeholder="Type new todo" autofocus type="text"
      (keydown.enter)="sendValue()" [formControl]="newItem"/>
      <div>
        <p [hidden]="!newItem.invalid">No has escrito una tarea todavia</p>
      </div>
    </div>
  </header>
  <div *ngIf="items.length>0" class="container todoapp-wrapper">
    <app-todolist *ngFor="let item of items" [todos]="item" (deleteTodo)="deletedTodo($event)"></app-todolist>
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong>0</strong> item left</span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a routerLink="/" class="selected">All</a>
        </li>
        <li>
          <a routerLink="/pending">Pending</a>
        </li>
        <li>
          <a routerLink="/completed">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed">Clear completed</button>
    </footer>
  </div>
</section>

